<!DOCTYPE html>
<html lang="en">

<head>
    <title>Blue Certification</title>
    <style>
        h1 {
            color: blue
        }
    </style>
</head>
</body>
<h1>Blue Certification </h1>
<p>You can aim for the certification level 1 by collecting the data </p>
<p> Your sustainability score is: <strong>{{ score }}</strong></p>
<p>This indicates that your organization has areas to improve in sustainability practices. Consider reviewing specific
metrics to enhance performance.</p>
<p>Please connect to us through info@esgprocesses.org to complete the certification process through verification of the
data provided.</p>

</body>

</html>