<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bronze Certification</title>
    <style>
        h1 {
            color: rgb(255, 153, 0)
        }
    </style>
</head>
</body>
<h1>You can aim for the certification level 2 by fulfilling 60% of the industry standard </h1>
<p> Your sustainability score is: <strong>{{ score }}</strong></p>
<p>This reflects your organization's initial steps toward sustainable practices. While some metrics show promise, there is room for improvement. Focus on advancing key sustainability areas to achieve better outcomes and demonstrate stronger commitment.</p>
<p>Please connect to us through info@esgprocesses.org to complete the certification process through verification of the
data provided.</p>

</body>

</html>