<!DOCTYPE html>
<html lang="en">

<head>
    <title>Gold Certification</title>
    <style>
        h1 {
            color: rgb(172, 170, 79)
        }
    </style>
</head>
</body>
<h1>Gold Certification </h1>
<p>You can aim for the certification level 4 by fulfilling more than 80% of the industry standard </p>
<p> Your sustainability score is: <strong>{{ score }}</strong></p>
<p>Congratulations! Your organization is a leader in sustainability, excelling across key performance metrics and setting an example for others in your industry. Continue driving impactful initiatives and innovation to maintain your leadership position in sustainability.</p>
<p>Please connect to us through info@esgprocesses.org to complete the certification process through verification of the
data provided.</p>

</body>

</html>