<!DOCTYPE html>
<html lang="en">

<head>
    <title>ESG Processes Certification</title>
</head>

<body>
    <h1>Welcome!</h1>
    <p>We help organizations measure and report sustainability performance
    using the trusted Global Reporting Initiative (GRI) framework.
    Through this quick and inituitive questionnaire, you can track key 
    environmental, social and governance (ESG) metrics, enabling transparent
    and impactful sustainability reporting.</p>
    <p>Start your journey toward a sustainable future today!</p>
    <form method="POST">
        <label for="fn">Number of employees</label>
        <input type="text" name="employees" placeholder="Number of employees" value="" />
        <input type="Submit" value="Send"/>
    </form>
</body>

</html>