<!DOCTYPE html>
<html lang="en">

<head>
    <title>Silver Certification</title>
    <style>
        h1 {
            color: rgb(122, 124, 126)
        }
    </style>
</head>
</body>
<h1>You can aim for the certification level 3 by fulfilling 70% of the industry standard </h1>
<p> Your sustainability score is: <strong>{{ score }}</strong></p>
<p>Your organization demonstrates commendable efforts in sustainability practices, surpassing industry averages in several key metrics. To progress further, consider deepening your focus on innovation, resource efficiency, and stakeholder engagement to achieve excellence.</p>
<p>Please connect to us through info@esgprocesses.org to complete the certification process through verification of the
data provided.</p>

</body>

</html>